<script>
  $(function(){
    $('#calendar-body').on('click', function (e) {
      
        $('.popover').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {

                $(this).hide()
            }
        });
    });
    
    $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultDate: '2014-03-12',
			selectable: true,
			selectHelper: true,
			select: function(start, end, jsEvent) {
				// var title = prompt('Event Title:');
//         var eventData;
				
        $date_box = $(jsEvent.target)
        $date_box.popover(
          { trigger: 'click',
            content: 'ß Testing!',
            placement: "auto left"
            })
        $date_box.trigger( "click" );
            
          //         if (title) {
          // eventData = {
          //   title: title,
          //   start: start,
          //   end: end
          // };
					// $('#calendar').fullCalendar('renderEvent', eventData, true);
        // }
        // $('#calendar').fullCalendar('unselect');
			},
			editable: true,
			events: [],
      unselectAuto: true
		});
  })
</script>

<div class="container">
  <div class="row">
    <div class="col-md-2" id="calendar-sidebar"><h3>Calendar Sidebar</h3></div>
    <div class="col-md-9 col-md-offset-1" id="calendar-body">
      <div id='calendar'></div>
    </div>
  </div>
</div>
