<h1><%=project.escape("title") %> Calendar</h1>

<div class="container">
  <div class="row">
    <div class="col-md-2" id="calendar-sidebar" style="border-style:solid;"><h3>Calendar Sidebar</h3></div>
    <div class="col-md-9 col-md-offset-1" id="calendar-body" style="border-style:solid;"><center><h3>Calendar Body</h3></center></div>
  </div>
</div>

