<%window.project_id = project.id%>
<script>
  $(function(){
    $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title'
			},
			defaultDate: '2014-03-12',
			selectable: true,
			selectHelper: true,
			select: function(start, end, jsEvent) {},
			editable: true,
			events: "/projects/" + window.project_id + "/calendar",
      unselectAuto: true
		});
  })
</script>
<a href="#">Back to home</a>
<div class="container project">
  <center><h2 id="cal-title"><%=project.escape("title")%></h2></center>
  <div id='calendar'></div>
</div>
