
<%window.project_id = project.id%>
<script>
  $(function(){
    $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title'
			},
			defaultDate: '2014-03-12',
			selectable: true,
			selectHelper: true,
			select: function(start, end, jsEvent) {},
			editable: true,
			events: "/projects/" + window.project_id + "/calendar",
      unselectAuto: true
		});
  })
</script>

<div class="container">
  <div class="row">
    <div class="col-md-2" id="calendar-sidebar"><h3>Calendar Sidebar</h3></div>
    <div class="col-md-9 col-md-offset-1" id="calendar-body">
      <center><h2 id="cal-title"><%=project.escape("title")%></h2></center>
      <div id='calendar'></div>
    </div>
  </div>
</div>
