<form class="edit-todo-form">
  <label>Todo: 
    <input type="text" id="edit-todo-title-input" value=" <%=todo.escape('title')%> ">
    <label>Due Date: <input type="date" id="edit-todo-date-input" value="<%= todo.escape('due_date').substring(0,10)%>"> </label>
  </label>

  <button class="submit-edit-todo btn-xs">Edit Todo</button>

  <a href="#" class="close-edit-todo">Close</a>
</form>