<form class="add-todo-form">
  <label>Todo: 
    <input type="text" id="todo-title-input">
    <label>Due Date: <input type="date" id="todo-date-input"> </label>
  </label>

  <button class="submit-create-todo btn-xs">Add Todo</button>

  <a href="#" class="close-add-todo">Close</a>
</form>