<div class="project container">
  
  <div class="row">
    <div class="titles">
      <h3 id="proj-title"><%=project.escape("title")%></h3>
      <h5 id="proj-subtitle"><%=project.escape("subtitle")%></h5>
    </div>
    <div class="proj-add-users">
      <button id="add-user-button">Invite people to This Project</button>
    </div>
  </div>
  
  <div class="row proj-sub">
    <h4>Notes</h4> 
    <ul class="notes"></ul>
  </div>
  
</div>

<a href="/">Home</a>