<div class="project container">
  
  <div class="row">
  <div class="col-xs-5 proj-title">
      <h3 id="proj-title"><%=project.escape("title")%></h3>
      <h5 id="proj-subtitle"><%=project.escape("subtitle")%></h5>
      </div>
  <div class="col-xs-6">
      <span class="proj-add-users">
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addCollaborators">
        Add Collaborators</button></span>
      </div>
  </div>
  
  <div class="row proj-sub">
    
    
    <h4>Todos</h4>
    <div class="add-todo"></div>
    <div class="todos"></div>
    <hr>
    <h4>Notes</h4><a href="#notes/new">Add a Note</a>
    <ul class="notes"></ul>
    
  

  </div>
  
</div>

<div class="modal fade" id="addCollaborators" tabindex="-1" role="dialog" aria-labelledby="addCollaboratorsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Here's who's on this project:</h3>
        <div class="row">
        <div class="col-xs-6 add-users-pane">
          <h5>Add Members</h5>  
          
          <div class="ui-widget">
            <label for="tags">User: </label>
            <input id="tags">
          </div>
          
        </div>
        
        <div class="col-xs-4 current-users-pane">
          <h5>Team</h5>
        </div>
        
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<a href="/">Home</a>


<script>
$(function() {
  var availableUsers = ["Rob Andrews", "Malcolm Ahoy", "Weyman Fung", "Ryan O'Donnell"];
  $( "#tags" ).autocomplete({
    source: availableUsers
  });
});
</script>