<h1>All Projects</h1>

  <ul>  
    <% current_user.projects.each do |project| %>
      <li><%=link_to project.title, project_url(project)%>
    <%end%>
  </ul>
<br>

<button id="create-user">Add another project</button>
  
  <script>

  $(function() {
    
    var name = $( "#name" ),
      email = $( "#email" ),
      password = $( "#password" ),
      allFields = $( [] ).add( name ).add( email ).add( password ),
      tips = $( ".validateTips" );
 
    $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 500,
      width: 650,
      modal: true,
      buttons: {
        "Create Project": function() {
          $("#new-proj-form").submit();
          $( this ).dialog( "close" );
         },
        
        
         Cancel: function() {
          $( this ).dialog( "close" );
        }
        
      },
      close: function() {
        allFields.val( "" ).removeClass( "ui-state-error" );
      }
    });
    
    //Initializes the dialog
    $( "#create-user" )
      .button()
      .click(function() {
        $( "#dialog-form" ).dialog( "open" );
      });
  });
  </script>
</head>
<body>
 
<div id="dialog-form" title="Create new project">

  <form action="<%=projects_url%>" method="POST" id="new-proj-form">
    
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    
    <label>Project Title
    <input type="text" name="project[title]">
    </label><br>
    
    <label>Subtitle
    <input type="text" name="project[subtitle]">
    </label><br>
    
    Add Collaborators to the Project
    <!-- currentuser.friends -->
  </form>
</div>
 
 
 
</body>
</html>