<div class="container">

  <h1>All Projects</h1>
  
  <div class="container-fluid">  
    <%=render "layouts/projects"%>
    <button id="create-user">Add a project</button>
  </div>  
  
  <script>
  $(function() {
    
    var name = $( "#name" ),
    email = $( "#email" ),
    password = $( "#password" ),
    allFields = $( [] ).add( name ).add( email ).add( password ),
    tips = $( ".validateTips" );
 
    $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 500,
      width: 650,
      modal: true,
      buttons: {
        "Create Project": function() {
          $("#new-proj-form").submit();
          $( this ).dialog( "close" );
        },
        
        
        Cancel: function() {
          $( this ).dialog( "close" );
        }
        
      },
      close: function() {
        allFields.val( "" ).removeClass( "ui-state-error" );
      }
    });
    
    //Initializes the dialog
    $( "#create-user" )
    .button()
    .click(function() {
      $( "#dialog-form" ).dialog( "open" );
    });
  });
  </script>
  
  <div id="dialog-form" title="Create new project">

    <form action="<%= projects_url %>" method="POST" id="new-proj-form">
    
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    
      <label>Project Title
        <input type="text" name="project[title]">
      </label><br>
    
      <label>Subtitle
        <input type="text" name="project[subtitle]">
      </label><br>
    
      Add Collaborators to the Project
    </form>
  </div>

</div>