<h4>Leave a comment</h4>
<div class="row">
    <img src="https://s3-us-west-1.amazonaws.com/camp6/img/avatar.40.gif" class="thumb">
    <textarea class="comment-body"></textarea>
    <button class="submit-comment">Submit</button>    
</div>