<div class="container">
<div class="row">

<h4>Leave a comment</h4>
    <img src="<%=user_pic%>" class="thumb current-user">
    <textarea class="comment-body"></textarea>
    <button class="submit-comment">Submit</button>    
</div>
</div>