<h3>Comments</h3>
<ul class="comment-list">
<%comments.each(function(comment){%>
  <%var user = Camp6.proj_users.get(comment.get("commenter_id"))%>
  
  <img src="<%=user.get('picture_url')%>" width="40px" class="thumb">
  <li><p><%=comment.escape("content")%></p></li>
  <p>Submitted by <%="" + user.escape("fname") + " " + user.escape("lname")  %>
  at <%=comment.escape("created_at")%></p>
<%})%>
</ul>