<label>Todo List Title
  <input type="text" name="todo-list[title]" id="todo-list-name-input">
</label>

<button class="submit-new-todo-list">Submit</button> <a href="#" class='remove-field'>Close</a>