<% todos.each(function(todo_list){ %>  
  
  <h5> <%=todo_list.escape("title")%> </h5>
  <ul>
  //need to get todos() working for a todo_list    
    <%todo_list.todos().each(function(todo){ %>
      // make this prechecked if it is completed
      <li> <input type="checkbox" class="todo" data-id=" <%= todo.get('id') %> "> 
          <%=todo.escape("task")%>  </input></li>
    <% }) %>
  </ul>
<% }) %>