<div class="project">
  
  <div class="proj-header">
    <div class="titles">
      <h3 id="proj-title"><%=@project.title%></h3>
      <h5 id="proj-subtitle"><%=@project.subtitle%></h5>
    </div>
    <div clas="proj-add-users">
      <button id="add-user-button">Invite people to This Project</button>
    </div>
  </div>
  
</div>

<%= link_to "Home", root_url%>