<h3>Here's who's on this project:</h3>
<div class="row">
 
<div class="col-xs-4 current-users-pane">
  <h5>Team</h5>
  <ul class="project-team-list">
  
  <%proj_users.forEach(function(user){%>
    <li><%="" + user.escape("fname") + " " + user.escape("lname")  %>:<%=user.escape("email")%>
    
  <%})%>
  
  </ul>
</div>
 
  <div class="col-xs-6 add-users-pane">
    <h5>Add Members</h5>  
    

      <input class="typeahead" id="collab-email" type="text" placeholder="Choose email">
      <button class="add-new-collaborator">Add Collaborator</button>
  </div>
  
  
  
  </div>
</div>
<a href="#">Back</a>

<script>
var substringMatcher = function(strs) {
  return function findMatches(q, callback) {
    var matches, substringRegex;
    matches = [];
    substrRegex = new RegExp(q, 'i');
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push({ value: str });
      }
    });
 
    callback(matches);
  };
};

$($('.typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  displayKey: 'value',
  source: substringMatcher(Camp6.emails)
}))
</script>