<div class="note container">
  <%=note.get("body")%>
  <small><a href="#">Edit Note</a></small>
</div>


<div class="comments">
<div class="left-comments"></div>
<div class="new-comment-field"></div>
</div>