<div class="note container">
  <%=note.get("body")%>
  <button class="remove-note">Delete Note</button>
</div>
<a href="#">Back to Home</a>
<div class="comments">
<div class="all-note-comments"></div>
<div class="new-comment-field"></div>
</div>