@import "bourbon";
@import "neat";
@import "projects";
@import "static_pages";

#top-nav{
  padding-top:10px;
  background-color:#eee1cc;
  border-style:none;
}

.content{
  background-color:#eee1cc;
  padding-top:20px;
}

button{
  @include button;
}

.project-card{
  @include outer-container;
  @include box-shadow(0 0 2px 2px hsla(0, 0%, 0%, 0.45));
  @include pad(40px);
  margin:15px 30px 15px 30px;
  background-color:white;
}


//.ui-dialog{
//  
//  .ui-dialog-titlebar{
//  
//    .ui-dialog-title{
//  
//    }
//
//    .ui-dialog-titlebar-close{
//  
//    }
//    
//  }
//  
//}


