@import "bourbon";
@import "neat";
@import "projects";
@import "static_pages";
@import "fullcalendar.css";

#top-nav{
  padding-top:10px;
  background-color:#eee1cc;
  border-style:none;
}

.content{
  background-color:#eee1cc;
  padding-top:20px;
}

button{
  @include button;
}

.project-card{
  @include outer-container;
  @include box-shadow(0 0 2px 2px hsla(0, 0%, 0%, 0.45));
  @include pad(40px);
  margin:15px 30px 15px 30px;
  background-color:white;
}

#calendar-body{
  @include outer-container;
  @include box-shadow(0 0 2px 2px hsla(0, 0%, 0%, 0.45));
  margin:15px 0px 15px 30px;
  background-color:white;
}

.fc-event {
  background: #fff !important;
  color: #000 !important;
}
	
.fc-event-bg {
  display: none !important;
}
	
.fc-event .ui-resizable-handle {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}

#calendar {
  width: 800px;
  margin: 40px auto;
}

ul {
  list-style-type: none;
  padding:0;
  margin-right:5px;
}

.thumb{
  border-radius: 5px;
  -moz-border-radius: 30px;
  -khtml-border-radius: 30px;
  -webkit-border-radius: 30px;
  width: 40px;
}

textarea.comment-body{
  width:60%;
}