@mixin page-setup{
  @include outer-container;
  @include box-shadow(0 0 2px 2px hsla(0, 0%, 0%, 0.45));
  @include pad(40px);
  background-color:white;
}

.project{
  @include page-setup;
  
  #proj-title{
    font-size:2.5em;
  }
  #proj-subtitle{
    font-size:1.5em;
    color:#B0B0B0;
  }
  .proj-sub{
    padding:20px;
    margin:0 auto;
  }
  .todo-list{
    padding:5px;
  }
  .todo-li{
    cursor:default;
    padding:3px;
    font-size:1.3em;
  }
  
  .proj-add-users{
    float:right;
    margin:30px 15px 0px 0px;
  }
  .proj-title{
    margin-left:20px;
  }
}

.note{
  @include outer-container;
  @include box-shadow(0 0 2px 2px hsla(0, 0%, 0%, 0.45));
  @include pad(40px);
  background-color:white;
}