// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome-text{
  color:white;
  font-size:6em;
  margin:15% 0 0 60%;
  background-color:none;
}

.center {
    text-align: center;
}

.button {
    position: absolute;
    top: 75%;
}